{% extends 'base.html' %}

{% block content %}
    <h5>Todo List</h5>
    <div class="row">
    <form class="col s12" method="POST">
        {%  csrf_token %}
      <div class="row">
        <div class="input-field col s2">
          <textarea id="textarea1" class="materialize-textarea" name="item"></textarea>
          <label for="textarea1">Add Item</label>
        </div>
          <div class="input-field col s2">
          <button class="waves-effect waves-light btn-floating blue darken-1" type="submit"><i class="material-icons">add</i></button>
        </div>
      </div>
    </form>
  </div>
    {%  if messages  %}
        {%  for message in messages %}
            <span class="new badge  indigo accent-2" data-badge-caption="">{{ message }}</span>
        {%  endfor %}
    {% endif %}
    <table class="highlight responsive-table centered">
        <thead>
        <tr>
            <th>Item</th>
            <th>Data Created</th>
            <th>Mark As Completed</th>
            <th>Delete</th>
        </tr>
        </thead>
    <tbody>
     {% if all_items %}
        {% for todo in all_items %}
            {% if todo.completed %}
                <tr class="striker grey lighten-2">
                    <td>{{ todo.item }}</td>
                    <td>{{ todo.date }}</td>
                    <td><button class="waves-effect waves-light btn green darken-1" type="submit"><i class="material-icons">check_circle</i></button></td>
                <td><a href="{% url 'delete' todo.id %}" class="waves-effect waves-light btn red darken-1"><i class="material-icons">delete</i></a></td>
                </tr>
            {% else %}
               <tr>
                    <td>{{ todo.item }}</td>
                    <td>{{ todo.date }}</td>
                    <td><button class="waves-effect waves-light btn green darken-1" type="submit"><i class="material-icons">check_circle</i></button></td>
                <td><a href="{% url 'delete' todo.id %}" class="waves-effect waves-light btn red darken-1"><i class="material-icons">delete</i></a></td>
                </tr>
            {% endif %}
        {% endfor %}
    {% endif %}
    </tbody>
    </table>

{% endblock %}